* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 2.5vw; }

body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: #fff; }
  body a {
    text-decoration: none; }
  body svg {
    display: block; }

#header-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: .8rem 1rem;
  z-index: 1500000;
  -webkit-transition: all .2s ease-out; }
  #header-main.scroll {
    background-color: #fff;
    box-shadow: 0rem 0rem 1vh rgba(0, 0, 0, 0.2);
    border-bottom: 0.5px solid rgba(117, 117, 117, 0.2); }
  #header-main nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; }
    #header-main nav h1 {
      position: absolute;
      opacity: 0;
      z-index: -1500000;
      top: 0;
      left: 0; }
    #header-main nav #logo-mobile {
      display: none; }
      #header-main nav #logo-mobile svg {
        width: 3rem; }
        #header-main nav #logo-mobile svg path {
          fill: #66E26F; }
    #header-main nav #nav-toggle {
      display: none; }
      #header-main nav #nav-toggle span {
        display: block;
        height: 0.8vw;
        width: 8vw;
        background-color: #549B2F;
        margin-bottom: 1.2vw;
        transform-origin: top right;
        -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
        #header-main nav #nav-toggle span:nth-of-type(2) {
          width: 6vw; }
        #header-main nav #nav-toggle span:last-of-type {
          width: 4vw;
          margin-bottom: 0;
          -webkit-transform-origin: bottom right; }
    #header-main nav ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      #header-main nav ul li {
        display: inline-block;
        list-style: none;
        margin-right: 1rem;
        position: relative; }
        #header-main nav ul li:last-of-type {
          margin-right: 0; }
        #header-main nav ul li#logo-li svg {
          width: 2.4rem; }
          #header-main nav ul li#logo-li svg path {
            fill: #66E26F; }
        #header-main nav ul li#panel-li {
          margin-right: 0;
          position: absolute;
          right: 3rem;
          top: 50%;
          transform: translateY(-50%); }
          #header-main nav ul li#panel-li a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: #fff;
            background: #549B2F;
            padding: .3rem .5rem;
            border-radius: .2rem;
            font-weight: 400;
            -webkit-transition: all .1s ease-out; }
            #header-main nav ul li#panel-li a svg {
              height: .5rem;
              margin-right: .3rem; }
              #header-main nav ul li#panel-li a svg path {
                fill: #fff; }
            #header-main nav ul li#panel-li a:hover {
              background-color: #2b2b2b;
              box-shadow: 0rem 0rem 1vh rgba(39, 39, 39, 0.2); }
        #header-main nav ul li:hover .line {
          opacity: 1;
          -webkit-animation: slideIn .2s ease-out forwards; }
        #header-main nav ul li a {
          font-size: 0.45rem;
          font-weight: 500;
          line-height: 1;
          letter-spacing: 0.05rem;
          color: #2b2b2b;
          display: block;
          z-index: 2; }
        #header-main nav ul li .line {
          opacity: 0;
          position: absolute;
          top: 50%;
          left: -.2rem;
          transform: translateY(-50%);
          display: block;
          width: 0;
          height: .22rem;
          background-color: #C4E8AF;
          z-index: -1; }
    #header-main nav #idioma {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      #header-main nav #idioma p {
        color: #2b2b2b;
        font-size: 0.4rem;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        display: inline-block;
        margin-right: .1rem; }
      #header-main nav #idioma svg {
        width: .6rem;
        display: inline-block; }

@-webkit-keyframes slideIn {
  to {
    width: calc(100% + .4rem); } }

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: .8rem 1rem;
  background-color: #f1f1f1;
  z-index: 52560000; }
  footer p {
    display: inline-block;
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: #2b2b2b; }
  footer .footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    footer .footer-info p {
      display: inline-block; }
    footer .footer-info svg {
      width: 2rem;
      display: inline-block;
      margin-right: .2rem; }
      footer .footer-info svg path {
        fill: #66E26F; }
  footer .footer-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    footer .footer-contacto a {
      display: inline-block;
      font-size: 0.5rem;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      color: #2b2b2b; }
    footer .footer-contacto svg {
      width: 0.5rem;
      display: inline-block;
      margin-right: 0.5rem; }

#banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background-color: #fff;
  overflow-x: hidden;
  padding: 3.5rem;
  background: url(../img/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }
  #banner #banner-text {
    width: 45%;
    color: #2b2b2b; }
    #banner #banner-text h2 {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.3;
      letter-spacing: 0.05rem;
      margin-bottom: .6rem;
      opacity: 0;
      transform: translateX(-3rem);
      -webkit-animation: slideRight 1s ease-out forwards; }
    #banner #banner-text p {
      font-size: 0.6rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.05rem;
      opacity: 0;
      transform: translateX(-3rem);
      -webkit-animation: slideRight 1s ease-out forwards;
      -webkit-animation-delay: .5s; }
  #banner #arrow-banner {
    position: absolute;
    bottom: 4vh;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation-name: moveUpDown;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out; }
    #banner #arrow-banner svg {
      width: 1.8rem; }
      #banner #arrow-banner svg path {
        fill: none;
        stroke: #2b2b2b;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 10px; }
  #banner img {
    width: 40%;
    position: absolute;
    bottom: -5rem;
    right: 3rem;
    -webkit-animation: slideUp .8s ease-out forwards; }

@-webkit-keyframes moveUpDown {
  0% {
    transform: translateY(-2vh); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(-2vh); } }

@-webkit-keyframes slideRight {
  to {
    opacity: 1;
    transform: translateX(0); } }

@-webkit-keyframes slideUp {
  to {
    opacity: 1;
    bottom: 0; } }

#why {
  padding: 3rem; }
  #why h3 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.05rem;
    color: #2b2b2b; }
  #why p:first-of-type {
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.05rem;
    color: #2b2b2b;
    margin: 1rem 0; }
  #why p:last-of-type {
    color: #549B2F;
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.05rem; }

#items-list {
  padding: 0 3rem;
  position: relative; }
  #items-list #items-line {
    display: block;
    width: .5rem;
    height: 100%;
    background-color: #C4E8AF;
    position: absolute;
    left: 3.75rem;
    top: 1rem;
    z-index: -100; }

.item {
  z-index: 100;
  position: relative; }
  .item .item-anchor {
    position: absolute;
    top: -8rem;
    left: 0; }
  .item .item-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .item .item-title .number {
      display: inline-block;
      position: relative; }
      .item .item-title .number p {
        font-size: 1rem;
        font-weight: 700;
        line-height: 2rem;
        letter-spacing: 0.05rem;
        color: #fff;
        width: 2rem;
        height: 2rem;
        background-color: #549B2F;
        border-radius: 50%;
        text-align: center; }
      .item .item-title .number .back-next {
        position: absolute;
        top: 50%;
        left: -2rem;
        transform: translateY(-50%); }
        .item .item-title .number .back-next a.up svg {
          transform: rotate(180deg);
          margin-bottom: 1rem; }
        .item .item-title .number .back-next a.hidden {
          pointer-events: none; }
          .item .item-title .number .back-next a.hidden svg path {
            stroke: #C4E8AF; }
        .item .item-title .number .back-next svg {
          width: 1rem; }
          .item .item-title .number .back-next svg path {
            fill: none;
            stroke: #549B2F;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 15px; }
    .item .item-title .h3-wrapper {
      width: 100%;
      margin-left: .8rem; }
      .item .item-title .h3-wrapper h3 {
        font-size: 0.8rem;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 0.05rem;
        color: #2b2b2b;
        display: inline-block; }
  .item .item-text {
    margin: .4rem 0 5rem 2.6rem; }
    .item .item-text p {
      font-size: 0.6rem;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 0.05rem; }
  .item#five .item-text {
    margin-bottom: 0;
    padding-bottom: 5rem; }
  .item#six {
    padding: 0 3rem; }
    .item#six .item-text {
      margin-bottom: 2rem; }

.contact {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .contact#sales {
    margin-top: 2rem;
    padding: 3.5rem;
    background: url(../img/contacto-bg-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative; }
    .contact#sales #arrow-contacto {
      position: absolute;
      bottom: 4vh;
      left: 50%;
      transform: translateX(-50%);
      -webkit-animation-name: moveUpDown;
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out; }
      .contact#sales #arrow-contacto svg {
        width: 1.2rem; }
        .contact#sales #arrow-contacto svg path {
          fill: none;
          stroke: #2b2b2b;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 10px; }
    .contact#sales .contact-text h2 {
      opacity: 0;
      transform: translateX(-3rem);
      -webkit-animation: slideRight 1s ease-out forwards; }
    .contact#sales .contact-text p {
      -webkit-animation: slideRight 1s ease-out forwards;
      -webkit-animation-delay: .5s;
      opacity: 0;
      transform: translateX(-3rem); }
  .contact#support {
    padding: 3.5rem;
    background: url(../img/contacto-bg.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat; }
    .contact#support .contact-img .bg-img {
      left: -.6rem;
      top: .3rem; }
  .contact .contact-text {
    width: 40%; }
    .contact .contact-text h2 {
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.3;
      letter-spacing: 0.05rem;
      margin-bottom: .6rem;
      color: #2b2b2b; }
    .contact .contact-text p {
      font-size: 0.6rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.05rem;
      color: #2b2b2b;
      margin-bottom: .6rem; }
    .contact .contact-text a {
      background-color: #549B2F;
      padding: .4rem .6rem;
      color: #fff;
      font-size: 0.5rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.05rem;
      border-radius: .1rem;
      -webkit-transition: all .2s ease-out; }
      .contact .contact-text a:hover {
        background-color: #2b2b2b; }
      .contact .contact-text a:nth-of-type(2) {
        padding: .33rem .53rem;
        color: #549B2F;
        border: 0.07rem solid #549B2F;
        background-color: transparent;
        font-weight: 500;
        margin-left: .2rem; }
        .contact .contact-text a:nth-of-type(2):hover {
          color: #2b2b2b;
          border-color: #2b2b2b; }
  .contact .contact-img {
    width: 40%;
    position: relative; }
    .contact .contact-img .bg-img {
      display: block;
      position: absolute;
      top: -.6rem;
      left: .6rem;
      width: 100%;
      height: 100%;
      background-color: #C4E8AF; }
    .contact .contact-img img {
      width: 100%;
      position: relative; }

#banner-features {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background-color: #fff;
  overflow-x: hidden;
  padding: 3.5rem;
  background: url(../img/features.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }
  #banner-features #banner-text {
    width: 45%;
    color: #2b2b2b; }
    #banner-features #banner-text h2 {
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 1.3;
      letter-spacing: 0.05rem;
      margin-bottom: .6rem;
      opacity: 0;
      transform: translateX(-3rem);
      -webkit-animation: slideRight 1s ease-out forwards; }
    #banner-features #banner-text p {
      font-size: 0.6rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.05rem;
      opacity: 0;
      transform: translateX(-3rem);
      -webkit-animation: slideRight 1s ease-out forwards;
      -webkit-animation-delay: .5s; }
  #banner-features #arrow-banner {
    position: absolute;
    bottom: 4vh;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation-name: moveUpDown;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out; }
    #banner-features #arrow-banner svg {
      width: 1.8rem; }
      #banner-features #arrow-banner svg path {
        fill: none;
        stroke: #000;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 10px; }

#main-features {
  padding: 2.5rem 3rem; }

.feature {
  margin-bottom: 3rem;
  position: relative; }
  .feature:last-of-type {
    margin-bottom: 0; }
  .feature .feature-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1.8rem; }
    .feature .feature-title h3 {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0.05rem;
      color: #549B2F; }
    .feature .feature-title .number {
      position: relative; }
      .feature .feature-title .number p {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.8rem;
        letter-spacing: 0.05rem;
        color: white;
        width: 1.8rem;
        height: 1.8rem;
        background-color: #549B2F;
        border-radius: 50%;
        text-align: center;
        margin-right: .6rem; }
      .feature .feature-title .number .back-next {
        position: absolute;
        top: 50%;
        left: -2rem;
        transform: translateY(-50%); }
        .feature .feature-title .number .back-next a.up svg {
          transform: rotate(180deg);
          margin-bottom: 1rem; }
        .feature .feature-title .number .back-next a.hidden {
          pointer-events: none; }
          .feature .feature-title .number .back-next a.hidden svg path {
            stroke: #C4E8AF; }
        .feature .feature-title .number .back-next svg {
          width: 1rem; }
          .feature .feature-title .number .back-next svg path {
            fill: none;
            stroke: #549B2F;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 15px; }
  .feature .feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1.6rem;
    padding: 0 .5rem; }
    .feature .feature-grid .feature-item h4 {
      font-size: 0.6rem;
      font-weight: 700;
      line-height: 1.1;
      letter-spacing: 0.05rem;
      color: #2b2b2b;
      margin-bottom: .5rem; }
    .feature .feature-grid .feature-item p {
      font-size: 0.5rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.05rem;
      color: #2b2b2b; }
  .feature .item-anchor {
    position: absolute;
    top: -5rem;
    left: 0; }

#banner-login {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
  background: linear-gradient(86deg, rgba(155, 155, 155, 0.25) 0%, rgba(155, 155, 155, 0.25) 100%), url(../img/login.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  #banner-login #top-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: .8rem;
    right: 1rem; }
    #banner-login #top-options #idioma {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-right: .5rem; }
      #banner-login #top-options #idioma p {
        color: #2b2b2b;
        font-size: 0.4rem;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        display: inline-block;
        margin-right: .1rem; }
      #banner-login #top-options #idioma svg {
        width: .6rem;
        display: inline-block; }
    #banner-login #top-options #go-back {
      font-size: 0.35rem;
      font-weight: 300;
      line-height: 1.1;
      letter-spacing: 0.05rem;
      color: #fff;
      background-color: #2b2b2b;
      padding: .4rem;
      border-radius: .1rem; }
      #banner-login #top-options #go-back span {
        font-weight: 600; }
  #banner-login #login-box {
    padding: 1.4rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0rem 0rem 1vh rgba(0, 0, 0, 0.2);
    border-radius: .2rem; }
    #banner-login #login-box #login-box-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start; }
      #banner-login #login-box #login-box-title img {
        width: 2.5rem; }
      #banner-login #login-box #login-box-title h2 {
        font-size: 0.8rem;
        font-weight: 300;
        line-height: 1.1;
        letter-spacing: 0.05rem;
        color: #2b2b2b;
        margin-left: .5rem; }
    #banner-login #login-box #email {
      width: 30vw;
      padding: .3rem;
      font-size: 0.45rem;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      -webkit-appearance: none;
      border: 1px solid #549B2F;
      box-shadow: none;
      background-color: #fff;
      border-radius: .1rem;
      outline: none;
      color: #2b2b2b;
      margin: .8rem 0; }
    #banner-login #login-box #next {
      padding: .3rem;
      font-size: 0.4rem;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.05rem;
      background-color: #549B2F;
      border-radius: .1rem;
      color: #fff;
      -webkit-appearance: none;
      border: none;
      box-shadow: none;
      outline: none;
      text-transform: uppercase;
      -webkit-transition: all .2s ease-out;
      cursor: pointer; }
      #banner-login #login-box #next:hover {
        background-color: #2b2b2b; }

#body-panel {
  background-color: #EFEFEF; }

#header-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .5rem .8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #549B2F;
  box-shadow: 0rem 0rem 1vh rgba(0, 0, 0, 0.2); }
  #header-panel #mobile-bg {
    display: none; }
  #header-panel #tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    #header-panel #tools #help {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-right: 1rem; }
      #header-panel #tools #help svg {
        height: .6rem;
        margin-right: .2rem; }
        #header-panel #tools #help svg path {
          fill: #fff; }
      #header-panel #tools #help p {
        color: #fff;
        font-size: 0.4rem;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.05rem; }
    #header-panel #tools #search {
      -webkit-appearance: none;
      padding: .15rem .2rem;
      border: none;
      box-shadow: none;
      background-color: #fff;
      border-radius: .1rem;
      width: 8rem;
      outline: none;
      font-size: 0.4rem;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.05rem;
      color: #2b2b2b; }
  #header-panel #account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    #header-panel #account #notif svg {
      height: .6rem; }
      #header-panel #account #notif svg path {
        fill: #fff; }
    #header-panel #account #user {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      #header-panel #account #user #name {
        color: #fff;
        font-size: 0.4rem;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.05rem;
        margin: 0 .6rem; }
      #header-panel #account #user #log-out {
        padding: .3rem .35rem;
        background-color: #2b2b2b;
        border-radius: .2rem;
        color: #fff;
        font-size: 0.35rem;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.05rem; }
      #header-panel #account #user #help-mobile {
        display: none; }
    #header-panel #account #account-toggle {
      display: none; }
      #header-panel #account #account-toggle svg {
        height: 1rem; }
  #header-panel #nav-panel {
    width: 9vw;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0rem 0rem 1vh rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    padding-bottom: 2rem; }
    #header-panel #nav-panel ul {
      padding: .8rem; }
      #header-panel #nav-panel ul li {
        display: block;
        list-style: none;
        margin-bottom: .8rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-transform: uppercase;
        cursor: pointer; }
        #header-panel #nav-panel ul li:last-of-type {
          margin-bottom: 0; }
        #header-panel #nav-panel ul li.current svg path {
          fill: #549B2F; }
        #header-panel #nav-panel ul li:hover svg path {
          fill: #549B2F; }
        #header-panel #nav-panel ul li svg {
          width: .75rem;
          margin-bottom: .3rem; }
          #header-panel #nav-panel ul li svg path {
            -webkit-transition: all .2s ease-out;
            fill: #999999; }
        #header-panel #nav-panel ul li p {
          font-size: 0.3rem;
          font-weight: 400;
          line-height: 1.3;
          letter-spacing: 0.05rem;
          color: #2b2b2b;
          text-align: center; }
  #header-panel #nav-toggle {
    display: none; }
    #header-panel #nav-toggle span {
      display: block;
      height: 0.8vw;
      width: 8vw;
      border-radius: .1rem;
      background-color: #fff;
      margin-bottom: 1.2vw;
      transform-origin: top left;
      -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
      #header-panel #nav-toggle span:last-of-type {
        margin-bottom: 0;
        -webkit-transform-origin: bottom left; }

#main-panel {
  margin-left: 9vw;
  margin-top: 1.2rem;
  padding: 1.5rem; }

#basics {
  margin: 1rem 2rem;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0rem 0rem 3vh rgba(0, 0, 0, 0.2); }
  #basics h1 {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.05rem;
    text-align: center;
    color: #2b2b2b;
    margin-bottom: .4rem; }
  #basics h2 {
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.05rem;
    text-align: center;
    color: #549B2F;
    margin-bottom: 1rem; }
  #basics #basics-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem; }
    #basics #basics-grid .basics-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      #basics #basics-grid .basics-item img {
        width: 3rem; }
      #basics #basics-grid .basics-item h3 {
        font-size: 0.6rem;
        font-weight: 600;
        line-height: 1.3;
        letter-spacing: 0.05rem;
        text-align: center;
        color: #2b2b2b;
        margin: .4rem 0; }
      #basics #basics-grid .basics-item p {
        font-size: 0.4rem;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: 0.05rem;
        text-align: center;
        color: #2b2b2b; }
      #basics #basics-grid .basics-item a {
        margin-top: .7rem;
        background-color: #549B2F;
        color: #fff;
        font-size: 0.4rem;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 0.05rem;
        padding: .3rem;
        border-radius: .1rem;
        -webkit-transition: all .2s ease-out; }
      #basics #basics-grid .basics-item a:hover {
        background-color: #2b2b2b; }

@media screen and (max-width: 1024px) {
  html {
    font-size: 6vw; }
  #header-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    z-index: 50000; }
    #header-main nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      #header-main nav #logo-mobile {
        display: inline-block; }
      #header-main nav #nav-toggle {
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
      #header-main nav ul {
        z-index: -50000;
        position: absolute;
        left: 0;
        top: 100%;
        transform: translateY(-100vh);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        transition: all .5s ease-out; }
        #header-main nav ul li {
          background-color: #fff;
          opacity: 0;
          width: 100%;
          display: block;
          list-style: none;
          margin-right: 0;
          position: relative;
          padding: .75rem;
          text-align: center;
          transform: translateY(-2rem);
          -webkit-transition: all .3s ease-out; }
          #header-main nav ul li#logo-li {
            display: none; }
          #header-main nav ul li#why-li {
            -webkit-transition-delay: .1s; }
          #header-main nav ul li#features-li {
            -webkit-transition-delay: .2s; }
          #header-main nav ul li#pricing-li {
            -webkit-transition-delay: .3s; }
          #header-main nav ul li#contact-li {
            -webkit-transition-delay: .4s;
            padding-bottom: 1.25rem; }
          #header-main nav ul li#panel-li {
            -webkit-transition-delay: .5s;
            position: relative;
            right: 0;
            top: 0;
            margin-bottom: 0;
            padding: 1rem 0;
            background: #549B2F;
            box-shadow: 0rem 0rem 1vh rgba(0, 0, 0, 0.2);
            border-bottom: 0.5px solid rgba(117, 117, 117, 0.2); }
            #header-main nav ul li#panel-li a {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              color: #fff;
              padding: 0;
              border-radius: 0; }
              #header-main nav ul li#panel-li a svg {
                height: .7rem;
                margin-right: .3rem; }
                #header-main nav ul li#panel-li a svg path {
                  fill: #fff; }
              #header-main nav ul li#panel-li a:hover {
                background-color: transparent;
                box-shadow: none; }
          #header-main nav ul li a {
            font-size: 0.7rem;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 0.05rem; }
          #header-main nav ul li .line {
            display: none; }
      #header-main nav #idioma {
        right: calc(2rem + 8vw); }
        #header-main nav #idioma p {
          font-size: 0.6rem;
          font-weight: 500;
          line-height: 1;
          letter-spacing: 0.05rem; }
        #header-main nav #idioma svg {
          width: .8rem;
          display: inline-block; }
  #banner {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 1.5rem 0 1.5rem; }
    #banner #banner-text {
      width: 100%; }
      #banner #banner-text h2 {
        font-size: 1.5rem; }
      #banner #banner-text p {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.05rem;
        margin-bottom: 2.5rem; }
    #banner img {
      width: 75%;
      position: relative;
      bottom: 0;
      right: 0;
      -webkit-animation: none; }
    #banner #arrow-banner {
      display: none; }
  #why {
    padding: 2.5rem 1.5rem; }
  #items-list {
    padding: 0 1.5rem;
    position: relative; }
    #items-list #items-line {
      left: 2.25rem;
      top: 1rem; }
  .item .item-title .number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .item .item-title .number .back-next {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      margin-top: 1rem; }
      .item .item-title .number .back-next svg {
        width: 1.3rem; }
  .item#six {
    padding: 0 1.5rem; }
  #header-panel {
    padding: .7rem .8rem;
    z-index: 5000; }
    #header-panel #mobile-bg {
      display: block;
      background-color: #549B2F;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1; }
    #header-panel #tools {
      z-index: 2; }
      #header-panel #tools #help {
        display: none; }
      #header-panel #tools #search {
        height: 1rem;
        font-size: .6rem; }
    #header-panel #account #notif {
      z-index: 3; }
      #header-panel #account #notif svg {
        height: 1rem; }
    #header-panel #account #account-toggle {
      display: inline-block;
      margin-left: 1rem;
      z-index: 4; }
    #header-panel #account #user {
      z-index: -5;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      display: block;
      box-shadow: 0rem 0rem 1vh rgba(0, 0, 0, 0.2);
      transform: translateY(-100vh);
      -webkit-transition: transform 0.5s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
      #header-panel #account #user #name {
        background-color: #fff;
        width: 100%;
        color: #2b2b2b;
        font-size: 0.7rem;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 0.05rem;
        margin: 0;
        text-align: center;
        padding: 1.2rem 0 .7rem 0; }
      #header-panel #account #user #log-out {
        display: block;
        background-color: #fff;
        width: 100%;
        color: #549B2F;
        padding: 0;
        border-radius: 0;
        font-size: 0.7rem;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.05rem;
        text-align: center;
        padding: .7rem 0 1.2rem 0; }
      #header-panel #account #user #help-mobile {
        font-size: 0.7rem;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.05rem;
        background-color: #fff;
        width: 100%;
        color: #2b2b2b;
        display: block;
        text-align: center;
        padding: .7rem 0; }
    #header-panel #nav-toggle {
      z-index: 6;
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
    #header-panel #nav-panel {
      transform: translateX(-45vw);
      width: 40vw;
      -webkit-transition: transform 0.3s cubic-bezier(0.18, 0.57, 0.5, 1.03); }
      #header-panel #nav-panel ul {
        padding: 1.2rem 1rem; }
        #header-panel #nav-panel ul li {
          margin-bottom: 1.4rem; }
          #header-panel #nav-panel ul li svg {
            width: 1.2rem;
            margin-bottom: .5rem; }
          #header-panel #nav-panel ul li p {
            font-size: .5rem;
            font-weight: 500; }
  #main-panel {
    margin-left: 0;
    margin-top: 2.4rem;
    padding: 1.5rem; }
  #basics {
    margin: 0;
    padding: 1.5rem; }
    #basics #basics-grid {
      display: block; }
      #basics #basics-grid .basics-item {
        margin-bottom: 1.5rem; }
        #basics #basics-grid .basics-item:last-of-type {
          margin-bottom: 0; }
        #basics #basics-grid .basics-item img {
          width: 5rem; }
        #basics #basics-grid .basics-item h3 {
          font-size: .8rem; }
        #basics #basics-grid .basics-item p {
          font-size: .6rem; }
        #basics #basics-grid .basics-item a {
          width: 100%;
          font-size: .6rem;
          font-weight: 400;
          text-align: center;
          padding: .5rem; }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .contact#sales {
      margin-top: 3rem;
      padding: 1.5rem;
      background-position: left;
      background-size: cover;
      position: relative; }
      .contact#sales #arrow-contacto {
        display: none; }
    .contact#support {
      padding: 1.5rem;
      background-position: right;
      background-size: cover; }
      .contact#support .contact-img {
        order: 2; }
      .contact#support .contact-text {
        order: 1; }
    .contact .contact-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contact .contact-text p {
        margin-bottom: 1rem; }
      .contact .contact-text a {
        width: 100%;
        font-size: .6rem;
        text-align: center; }
        .contact .contact-text a:nth-of-type(2) {
          margin-top: 1rem; }
    .contact .contact-img {
      width: 100%;
      margin-top: 1.5rem; }
      .contact .contact-img .bg-img {
        display: none; }
  #banner-features {
    padding: 0 1.5rem;
    background: url(../img/features-mobile.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    #banner-features #banner-text {
      width: 100%;
      color: #fff; }
      #banner-features #banner-text p {
        font-size: .8rem; }
    #banner-features #arrow-banner svg path {
      stroke: #fff; }
  #main-features {
    padding: 1.5rem; }
  .feature {
    margin-bottom: 3rem; }
    .feature:last-of-type {
      margin-bottom: 0; }
    .feature .feature-title {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start; }
      .feature .feature-title .number {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; }
        .feature .feature-title .number .back-next {
          position: relative;
          top: 0;
          left: 0;
          transform: none;
          order: 1;
          margin-right: .8rem; }
        .feature .feature-title .number p {
          order: 2; }
    .feature .feature-grid {
      display: block;
      padding: 0; }
      .feature .feature-grid .feature-item {
        margin-bottom: 1.5rem; }
        .feature .feature-grid .feature-item:last-of-type {
          margin-bottom: 0; }
        .feature .feature-grid .feature-item p {
          font-size: .6rem; }
  #banner-login #top-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: .8rem;
    right: 1rem; }
    #banner-login #top-options #idioma {
      margin-right: .8rem; }
      #banner-login #top-options #idioma p {
        font-size: .7rem;
        font-weight: 600; }
      #banner-login #top-options #idioma svg {
        width: 1rem; }
    #banner-login #top-options #go-back {
      font-size: .5rem;
      padding: .4rem .6rem; }
  #banner-login #login-box #login-box-title img {
    width: 3.5rem; }
  #banner-login #login-box #login-box-title h2 {
    font-size: 1rem; }
  #banner-login #login-box #email {
    width: 70vw;
    font-size: .6rem; }
  #banner-login #login-box #next {
    font-size: .6rem; } }

@media screen and (orientation: landscape) and (max-width: 1024px) {
  html {
    font-size: 5vw; }
  #banner-login {
    height: 170vh; } }
